<div class="middle aligned column">
    <div class="ui right floated buttons">
        <a class="ui labeled icon button primary" href="{{ addTaxonsAction }}">
            <i class="icon pencil"></i>
            {{ 'setono_sylius_bulk_edit.ui.action.add_taxons_selected'|trans }}
        </a>

        <a class="ui labeled icon button" href="{{ path('sylius_admin_product_index') }}">
            <i class="icon remove"></i>
            {{ 'sylius.ui.cancel'|trans }}
        </a>
    </div>
</div>
