<div class="ui stackable two column grid">
    <div class="column">
        {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_edit/index/_header_title.html.twig' %}
        {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_edit/index/_breadcrumb.html.twig' %}
    </div>

    {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_edit/index/_actions.html.twig' %}
</div>

<div class="ui stackable two column grid">
    <div class="column"></div>
    <div class="right aligned column">
            {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_edit/index/_channel_selector.html.twig' %}
    </div>
</div>
