<div class="ui stackable two column grid">
    <div class="column">
        {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_add_to_taxon/index/_header_title.html.twig' %}
        {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_add_to_taxon/index/_breadcrumb.html.twig' %}
    </div>

    {% include '@SetonoSyliusBulkEditPlugin/admin/bulk_add_to_taxon/index/_actions.html.twig' %}
</div>
