{% set path = options.link.url|default(path(options.link.route)) %}

<form action="{{ path }}" method="get">
    <button class="ui gray labeled icon button" type="submit" data-bulk-action-requires-confirmation disabled>
        <i class="icon pencil"></i> {{ action.label|trans }}
    </button>
</form>
